{% extends 'layout.html.twig' %}

{% block title %}  Destinations {% endblock %}

{% block main %}


  {% include 'app/title.html.twig' %}
  <div class="w-2/3 ">
    <div class="text-gray-900 font-bold text-2xl mb-4">
      Voici les destinations de réve que nous vous avons réservées :
    </div>

</div>

{% endblock %}
