<form method="post" action="{{ path('etape_circuit_delete', {'code_ville_etape': etape_circuit.code_ville_etape}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etape_circuit.code_ville_etape) }}">
    <button class="btn">Delete</button>
</form>
