{% extends 'layout.html.twig' %}

{% block title %}Edit EtapeCircuit{% endblock %}

{% block main %}
    <h1>Edit EtapeCircuit</h1>

    {{ include('etape_circuit/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('circuit/_back.html.twig') }}

    {{ include('etape_circuit/_delete_form.html.twig') }}
{% endblock %}
