{% extends 'layout.html.twig' %}

{% block title %}New EtapeCircuit{% endblock %}

{% block main %}
    <h1>Create new EtapeCircuit</h1>

    {{ include('etape_circuit/_form.html.twig') }}

    {{ include('circuit/_back.html.twig') }}
{% endblock %}
