{% extends 'base.html.twig' %}

{% block title %}
  installation !{% endblock %}

{% block body %}

{% set route = app.request.get('_route') %}

  <div class="w-full">
    <div class="relative rounded-lg bg-white shadow-md mb-5">
      <div class="relative rounded-lg block md:flex items-center" style="min-height: 4rem;">
        <div class="relative w-full  h-full overflow-hidden">
          <div class="flex flex-row float-left text-lg ">
            <a href="{{ path('index', [] , false) }}" class="mx-5 text-gray-800  font-semibold  cursor:pointer py-2 px-4 rounded inline-flex items-center">
              <span class="text-base font-bold captalize">
                ToursDSI22
              </span>
            </a>
            <a href="{{ path('destination', [] , false) }}" class="mx-5 text-green-600 {{ 'destination' in route ? 'text-blue-500' }} cursor:pointer  py-2 px-4 rounded inline-flex items-center">
              <span class="captalize">
                <span class="text-base font-semibold">
                  Destination
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="w-full  md:w-full h-full bg-white rounded-lg">

          <div class="flex flex-row-reverse">
            <!--<a class="text-gray-600 block focus:outline-none"> Tab 4 </a> -->
          </div>

        </div>
      </div>
    </div>
    <div class="relative block md:flex items-center bg-white pr-3 rounded-lg block">
      {% block main %}{% endblock %}
    </div>
  </div>

{% endblock %}
