{% extends 'layout.html.twig' %}

{% block title %}Edit Destination{% endblock %}

{% block main %}
    <h1>Edit Destination</h1>

    {{ include('destination/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('circuit/_back.html.twig') }}

    {{ include('destination/_delete_form.html.twig') }}
{% endblock %}
